# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.local
.env.production

# Node
node_modules/
frondend/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
